@import 'colors.css';

/* Configurações Globais */
* { font-weight: 500; }

/* Painel Principal */
#XfcePanelWindow {
-XfcePanelWindow-popup-delay: 0;
-XfcePanelWindow-popdown-delay: 4000;
}

#XfcePanelWindow, .xfce4-panel {
background-color: #b7d5de4;
}

.xfce4-panel#XfcePanelWindow {
    border-radius: 4px;
}

/* Menus e Janelas CSD */
menu, .csd .menu, .csd .dropdown, .csd .context-menu {
    border-radius: 1px;
}

/* Tasklist e Docklike */
.xfce4-panel .tasklist .toggle {
    background-color: rgba(0,0,0,0.5);
    color: darkslategrey;
}

#docklike-plugin button {
padding: 0;
margin: 0px min-width: 48px;
margin-right: 4px;
}

/* Plugins e Ícones */
#xfce4-notification-plugin * {
-gtk-icon-transform: scale(.8);
}

#pulseaudio-button * {
margin-right: -1px;
color: darkslategrey;
-gtk-icon-transform: scale(1.0);
}

#xfce4-power-manager-plugin* {
margin-left: -2px;
margin-right: -1px;
color: #444444;
-gtk-icon-palette: warning #FF0000, success #444444, error #FF0000;
-gtk-icon-transform: scale(1.0);
}

#clock-button {
color: darkslategrey;
font-style: bold;
}

#sn-button image {
-gtk-icon-transform: scale(.9);
margin-left: 2px;
}
