* {
    border: none;
    border-radius: 0px;
    /*font-family: Noto Sans CJK;*/
    font-family: Roboto, FontAwesome, Noto Sans CJK;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    border-bottom: 0px solid #444444;
    color: #f4d9e1
}

#workspaces {
    background: #444444;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    font-size: 14px;
}

#workspaces button {
    border: 0px;
    margin:4px 5px 4px 0px;
    padding: 0px 4px 0px 4px;
    color: #f4d9e1;
    transition: all 0.5s ease-in-out;
}

#workspaces button.active {
    color: #269cb6;
    background: @workspacesbackground2;
}

#workspaces button:hover {
    color: #269cb6;
    border-radius: 15px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    border: solid 0px #f4d9e1;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    border: solid 0px #f4d9e1;
}

#custom-date {
    color: #D3869B;
}

#custom-power {
    color: #24283b;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#clock {
    background-color: #444444;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}


#battery {
    background-color: #444444;
    /*color: #9ece6a;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#battery.charging {
    background-color: #444444;
;
    /*color: #9ece6a;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#battery.warning:not(.charging) {
    background-color: #444444;
    /*color: #9ece6a;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#backlight {
    background-color: #444444;
    color: #db4b4b;
    border-radius: 0px 0px 0px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}

#network {
    background-color: #444444;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#pulseaudio {
    background-color: #444444;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#pulseaudio.muted {
    background-color: #444444;
    color: #928374;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-randwall {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 0px;
}

#tray {
    background-color: transparent;
    border-radius: 0px 0px 0px 24px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    /*border-right: solid 1px #282738;*/
    font-size: 16px;
}

#custom-launcher {
<<<<<<< HEAD
    color: #444444;
    background-color: transparent;
=======
    color: transparent;
    background-color: #269cb6;
>>>>>>> f67f1c82b66e3724923071c6273b49b60f85bf0b
    border-radius: 0px 0px 24px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 13px 0 20px;
    /*border-right: solid 1px #282738;*/
    font-size: 16px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
    background: #444444;
    padding-left: 15px;
    padding-right: 14px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: normal;
    color: #282738;
}

#window {
    background-color: #444444;
    /*color: #FABD2D;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-weight: normal;
    font-style: normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #e5809e;
    background-color: #1E1E2E;
}

#cpu {
    background-color: #444444;
    /*color: #FABD2D;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: #444444;
    /*color: #83A598;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: #444444;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#temperature {
    background-color: #444444;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-hyprpicker {
    background-color: #444444;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
