/* Configurações Globais */
* {
    border:                 none;
    border-radius:          0px;
    /*font-family: Noto Sans CJK;*/
    font-family:            Roboto, FontAwesome, Noto Sans CJK;
    font-size:              12px;
    font-style:             normal;
    font-weight:            bold;
    min-height:             0;
}

/* Janela Principal */
window#waybar {
    background:             transparent;
    border-bottom:          0px solid #444444;
    color:                  #f4d9e1;
}

window#waybar.empty #window {
    background-color:       transparent;
}

/* Workspaces */
#workspaces {
background:             #444444;
margin:                 5px;
border-radius:          16px;
font-size:              14px;
padding-left:           6px;
padding-right:          1px;
min-width:              60px;
}

#workspaces button {
border:                 0;
padding:                0;
min-width:              12px;
margin:                 4px 6px;
background:             transparent;
box-shadow:             none;
color:                  #f4d9e1;
}

#workspaces button.active {
background:             transparent;
box-shadow:             none;
color:                  #269cb6;
text-shadow:            0 0 6px #269cb6;
}

/* Módulos da Direita (Geral) */
.modules-right {
    margin-right:           2px;
}

#network,
#pulseaudio,
#battery,
#clock,
#cpu,
#memory,
#disk,
#temperature {
background-color:       #444444;
margin:                 5px 0;
padding:                0 10px;
font-weight:            bold;
border-radius:          0;
}

/* Estilização de Bordas e Espaçamento */
#network {
border-radius:          16px 0 0 16px;
padding-left:           14px;
margin-left:            4px;
}

#clock {
border-radius:          0 16px 16px 0;
padding-right:          14px;
}

#cpu {
border-radius:          16px 0 0 16px;
padding-left:           14px;
}

#temperature {
border-radius:          0 16px 16px 0;
padding-right:          14px;
}

#pulseaudio.muted {
color:                  #928374;
}

/* Tray e Launcher */
#tray {
background-color:       transparent;
border-radius:          0px 0px 0px 24px;
margin:                 0px 0px 0px 0px;
padding:                0 20px 0 18px;
/*border-right: solid 1px #282738;*/
font-size:              16px;
}

#custom-launcher {
color:                  #444444;
background-color:       transparent;
border-radius:          0px 0px 24px 0px;
margin:                 0px 0px 0px 0px;
padding:                0px 20px 0px 0px;
/*border-right: solid 1px #282738;*/
font-size:              16px;
}

#custom-launcher button:hover {
background-color:       #FB4934;
color:                  transparent;
border-radius:          8px;
margin-right:           -5px;
margin-left:            10px;
}

/* Player e Mídia */
#custom-playerctl {
background:             #444444;
padding-left:           15px;
padding-right:          14px;
border-radius:          16px;
margin-top:             5px;
margin-bottom:          5px;
margin-left:            0px;
font-weight:            normal;
font-style:             normal;
font-size:              16px;
}

#custom-playerlabel {
background:             transparent;
padding-left:           10px;
padding-right:          15px;
border-radius:          16px;
margin-top:             5px;
margin-bottom:          5px;
font-weight:            bold;
font-style:             normal;
color:                  #282738;
}

/* Outros Módulos Customizados */
#window {
background-color:       #444444;
/*color: #FABD2D;*/
border-radius:          16px;
margin:                 5px;
padding:                0px 10px 0px 10px;
font-weight:            normal;
font-style:             normal;
}

#custom-randwall {
color:                  #f4d9e1;
border-radius:          8px;
margin-right:           0px;
}

#custom-power {
color:                  #24283b;
font-weight:            bold;
background-color:       transparent;
border-radius:          5px;
margin:                 5px 0px 5px 6px;
padding:                5px 10px;
}

#custom-wf-recorder {
padding:                0 20px;
color:                  #e5809e;
background-color:       #1E1E2E;
}

#custom-hyprpicker {
background-color:       #444444;
border-radius:          16px;
margin:                 5px;
padding:                0px 11px 0px 9px;
font-weight:            bold;
}
