[Desktop Entry]
Actions=quit;
Categories=Chat;Network;InstantMessaging;Qt;
Comment=Nova era de mensagem
DBusActivatable=false
Exec=env KDE_FULL_SESSION=true QT_QPA_PLATFORMTHEME=kde XDG_CURRENT_DESKTOP=KDE Telegram
Icon=org.telegram.desktop
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Name=Telegram
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
SingleMainWindow=true
StartupNotify=true
StartupWMClass=TelegramDesktop
Terminal=false
TerminalOptions=
TryExec=Telegram
Type=Application
X-GNOME-SingleWindow=true
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action quit]
Exec=env KDE_FULL_SESSION=true Telegram -quit
Icon=application-exit
Name=Quit Telegram
