[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;
Exec=env KDE_FULL_SESSION=true sddm-conf
Icon=preferences-system
StartupNotify=false
Terminal=false

Name=SDDM Configuration
GenericName=Display Manager Configuration
Comment=Configuration editor for SDDM display manager
Name[bg]=Настройване на SDDM
GenericName[bg]=Настройки на екранния мениджър
Comment[bg]=Редактор за конфигуриране на SDDM
Name[ca]=Configuració de l'SDDM
GenericName[ca]=Configuració del gestor de pantalla
Comment[ca]=Editor de configuració per al gestor de visualitzacions SDDM
Name[cs]=Nastavení SDDM
GenericName[cs]=Nastavení správce displeje
Comment[cs]=Editor nastavení pro správce zobrazení SDDM
Name[el]=Διαμόρφωση SDDM
GenericName[el]=Διαμόρφωση Διαχειριστή Απεικόνισης
Comment[el]=Επεξεργαστής διαμόρφωσης για το διαχειριστή απεικόνισης SDDM
Name[et]=SDDM'i seadistused
GenericName[et]=Ekraanihalduri seadistused
Comment[et]=Seadistuste haldur SDDM sisselogimisekraani jaoks
Name[fi]=SDDM:n asetukset
GenericName[fi]=Näytönhallinnan asetukset
Comment[fi]=SDDM-näytönhallinnan Qt-asetusmuokkain
Name[fr]=Configuration de SDDM
GenericName[fr]=Configuration du Display Manager
Comment[fr]=Editeur de configuration pour le gestionnaire de session SDDM
Name[he]=הגדרות SDDM
GenericName[he]=הגדרות מנהל התצוגה
Comment[he]=עורך הגדרות למנהל התצוגה SDDM
Name[it]=Configurazione di SDDM
GenericName[it]=Configurazione Display Manager
Comment[it]=Editor di configurazione del display manager SDDM
Name[ka]=SDDM-ის მორგება
GenericName[ka]=ეკრანის მმართველის მორგება
Comment[ka]=კონფიგურაციის რედაქტორი ეკრანის მმართველისთვის SDDM
Name[kab]=Aheyyi n SDDM
Name[ko]=SDDM 구성
GenericName[ko]=디스플레이 관리자 구성
Comment[ko]=SDDM 디스플레이 관리자용 구성 편집기
Name[lt]=SDDM konfigūracija
GenericName[lt]=Monitoriaus tvarkytuvės konfigūracija
Comment[lt]=Konfigūracijos redaktorius skirtas SDDM monitoriaus tvarkytuvei
Name[nb_NO]=SDDM-oppsett
GenericName[nb_NO]=Skjermbehandleroppsett
Comment[nb_NO]=Oppsettredigeringsprogram for SDDM-skjermhåndterer
Name[nl]=SDDM-instellingen
GenericName[nl]=Aanmeldscherminstellingen
Comment[nl]=Qt-instellingenbewerker voor SDDM
Name[pa]=SDDM ਸੰਰਚਨਾ
GenericName[pa]=ਡਿਸਪਲੇਅ ਮੈਨੇਜਰ ਸੰਰਚਨਾ
Comment[pa]=SDDM ਡਿਸਪਲੇਅ ਮੈਨੇਜਰ ਲਈ ਸੰਰਚਨਾ ਐਡੀਟਰ
Name[pl]=Konfiguracja SDDM
GenericName[pl]=Konfiguracja menedżera wyświetlania
Comment[pl]=Edytor konfiguracji menedżera wyświetlania SDDM
Name[pt]=Configuração SDDM
GenericName[pt]=Configuração do gestor de ecrã
Comment[pt]=Editor de configuração para o gestor de sessões SDDM
Name[pt_BR]=Configuração do SDDM
GenericName[pt_BR]=Configuração do Display Manager
Comment[pt_BR]=Editor de configurações para o SDDM
Name[ru]=Настройка входа в систему (SDDM)
GenericName[ru]=Параметры входа в систему
Comment[ru]=Редактор конфигурации дисплейного менеджера SDDM
Name[tr]=SDDM Yapılandırma
GenericName[tr]=Görüntü Yöneticisi Yapılandırma
Comment[tr]=SDDM görüntü yöneticisi için yapılandırma düzenleyici
Name[zh_TW]=SDDM 設定
GenericName[zh_TW]=顯示管理器設定
Comment[zh_TW]=設定編輯器用於 SDDM 顯示管理器
