<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="https://openbox.org/"
 xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="Gerenciador de Arquivos" icon="/home/ito/.cache/obmenu-generator/icons/2dd89e059cfc79430318a45a8a89d54b.png"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/home/ito/.cache/obmenu-generator/icons/b5157165ca6dd405c92d4691e85b8c21.png"><action name="Execute"><command><![CDATA[kitty]]></command></action></item>
    <item label="Navegador" icon="/home/ito/.cache/obmenu-generator/icons/2d5f8357fd7be8b8c48b8006ec48af18.png"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
  <menu id="0,584893593638302" icon="/home/ito/.cache/obmenu-generator/icons/9a3d39d629a31ad084a86393c9c72d40.png" label="Arch Linux">
  <menu id="0,258631876993121" icon="/home/ito/.cache/obmenu-generator/icons/dec60b328f1c68a35fda8af211499c7d.png" label="Acessórios">
    <item label="Android File Transfer (MTP)" icon="/home/ito/.cache/obmenu-generator/icons/c42f01a2bf440b93e92fb3bcb6694c6c.png"><action name="Execute"><command><![CDATA[android-file-transfer]]></command></action></item>
    <item label="Ark" icon="/home/ito/.cache/obmenu-generator/icons/1e3436b7723f06cfacd64a19b01c0d6d.png"><action name="Execute"><command><![CDATA[ark]]></command></action></item>
    <item label="File Manager" icon="/home/ito/.cache/obmenu-generator/icons/2dd89e059cfc79430318a45a8a89d54b.png"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Font Manager" icon="/home/ito/.cache/obmenu-generator/icons/6d9faada49b3e9c228937222e363b592.png"><action name="Execute"><command><![CDATA[font-manager]]></command></action></item>
    <item label="Font Viewer" icon="/home/ito/.cache/obmenu-generator/icons/6d9faada49b3e9c228937222e363b592.png"><action name="Execute"><command><![CDATA[/usr/lib/font-manager/font-viewer]]></command></action></item>
    <item label="KCalc" icon="/home/ito/.cache/obmenu-generator/icons/6d0f841ca54b821e4c14dfa4fb132053.png"><action name="Execute"><command><![CDATA[kcalc]]></command></action></item>
    <item label="Kvantum Manager" icon="/home/ito/.cache/obmenu-generator/icons/0bf2f4829835e209a17b259f945ce917.png"><action name="Execute"><command><![CDATA[kvantummanager]]></command></action></item>
    <item label="Mousepad" icon="/home/ito/.cache/obmenu-generator/icons/7c033e7859d85bbfe3db01edb91f051d.png"><action name="Execute"><command><![CDATA[mousepad]]></command></action></item>
    <item label="scrcpy (console)" icon="/home/ito/.cache/obmenu-generator/icons/f866ad282750620ffa7c28ca1f2b7dda.png"><action name="Execute"><command><![CDATA[kitty -e '/bin/sh -c "\$SHELL -i -c 'scrcpy --pause-on-exit=if-error'"']]></command></action></item>
    <item label="scrcpy" icon="/home/ito/.cache/obmenu-generator/icons/f866ad282750620ffa7c28ca1f2b7dda.png"><action name="Execute"><command><![CDATA[/bin/sh -c "\$SHELL -i -c scrcpy"]]></command></action></item>
    <item label="SDDM Settings" icon="/home/ito/.cache/obmenu-generator/icons/925078720f0ad6b6b04fc2dfca36a5b2.png"><action name="Execute"><command><![CDATA[sddm-conf]]></command></action></item>
    <item label="Spectacle" icon="/home/ito/.cache/obmenu-generator/icons/ce63f6db3946ae53f3fe030157247ece.png"><action name="Execute"><command><![CDATA[/usr/bin/spectacle]]></command></action></item>
    <item label="Terminal Emulator" icon="/home/ito/.cache/obmenu-generator/icons/b5157165ca6dd405c92d4691e85b8c21.png"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Winetricks" icon="/home/ito/.cache/obmenu-generator/icons/ce4ba3db29e2f162579019be5ac8d741.png"><action name="Execute"><command><![CDATA[winetricks --gui]]></command></action></item>
  </menu>
  <menu id="0,25491060343678" icon="/home/ito/.cache/obmenu-generator/icons/ab4fbe0acc848be0e40340c5e2b0f0ba.png" label="Jogos">
    <item label="RetroArch" icon="/home/ito/.cache/obmenu-generator/icons/e32c0ef07317bd9d9fc2697d673b439b.png"><action name="Execute"><command><![CDATA[retroarch]]></command></action></item>
  </menu>
  <menu id="0,0829050462661556" icon="/home/ito/.cache/obmenu-generator/icons/61f9ea091a43f439e676777e8d787f5a.png" label="Gráficos">
    <item label="GNU Image Manipulation Program" icon="/home/ito/.cache/obmenu-generator/icons/2bbd7aa13382b670738d694de19dfc90.png"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Gwenview" icon="/home/ito/.cache/obmenu-generator/icons/bd23812b65f7796fcb7099d90a0cda82.png"><action name="Execute"><command><![CDATA[gwenview]]></command></action></item>
    <item label="Inkscape" icon="/home/ito/.cache/obmenu-generator/icons/34258c5f1f8dc09393d068fffa213487.png"><action name="Execute"><command><![CDATA[/home/ito/.local/share/applications/inkscape.sh]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/ito/.cache/obmenu-generator/icons/b7353349f9800e0ca3fff257764dedf7.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --draw]]></command></action></item>
    <item label="Okular" icon="/home/ito/.cache/obmenu-generator/icons/92a68c4636fe2f67070ef1dc43cc2ad0.png"><action name="Execute"><command><![CDATA[okular]]></command></action></item>
  </menu>
  <menu id="0,83555255400741" icon="/home/ito/.cache/obmenu-generator/icons/9b6b51736fa80f6e4ea743e9a18b2df9.png" label="Multimídia">
    <item label="Audacity" icon="/home/ito/.cache/obmenu-generator/icons/17726a7c59474b8a13658991912e027d.png"><action name="Execute"><command><![CDATA[env GDK_BACKEND=x11 UBUNTU_MENUPROXY=0 audacity]]></command></action></item>
    <item label="FL Studio 20" icon="/home/ito/.cache/obmenu-generator/icons/0ebffd0e6fc8ec5d891f278c663964d3.png"><action name="Execute"><command><![CDATA[/usr/bin/perl -e 'chdir($ARGV[0]) && exec($ARGV[1])' \/home\/ito\/\.wine\/dosdevices\/c\:\/Program\ Files\ \(x86\)\/Image\-Line\/FL\ Studio\ 20 env\ WINEPREFIX\=\"\/home\/ito\/\.wine\"\ wine\ C\:\\\\users\\\\ito\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\\ Menu\\\\Programs\\\\Image\-Line\\\\FL\\\ Studio\\\ 20\.lnk]]></command></action></item>
    <item label="guvcview" icon="/home/ito/.cache/obmenu-generator/icons/d0f3c0990fd2d82e9e3a2b574577499d.png"><action name="Execute"><command><![CDATA[guvcview]]></command></action></item>
    <item label="Kdenlive" icon="/home/ito/.cache/obmenu-generator/icons/486b2cc322b59bd3148327bdd6a10954.png"><action name="Execute"><command><![CDATA[kdenlive]]></command></action></item>
    <item label="Mixxx" icon="/home/ito/.cache/obmenu-generator/icons/b91ea0451d1433d1989e7e622ecc3860.png"><action name="Execute"><command><![CDATA[sh -c "pasuspender -- mixxx || mixxx"]]></command></action></item>
    <item label="mpv Media Player" icon="/home/ito/.cache/obmenu-generator/icons/07504e59ff7121d74da6d72ca922e33c.png"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="OBS Studio" icon="/home/ito/.cache/obmenu-generator/icons/5f3878aeb3a333c9061385c33f3d2fac.png"><action name="Execute"><command><![CDATA[obs -style gtk]]></command></action></item>
    <item label="SimpleScreenRecorder" icon="/home/ito/.cache/obmenu-generator/icons/fb8169da19b4f3c7930a9b8aa16011ac.png"><action name="Execute"><command><![CDATA[simplescreenrecorder --logfile]]></command></action></item>
    <item label="Spotify" icon="/home/ito/.cache/obmenu-generator/icons/6fc03b2cda53dc322894283ebef88128.png"><action name="Execute"><command><![CDATA[spotify --uri=%U]]></command></action></item>
    <item label="Stremio" icon="/home/ito/.cache/obmenu-generator/icons/35e028103169adb24a65e8a97f2d45ab.png"><action name="Execute"><command><![CDATA[stremio]]></command></action></item>
    <item label="Tauon" icon="/home/ito/.cache/obmenu-generator/icons/82a6c0b6315ab15114a9f34185fa4fcc.png"><action name="Execute"><command><![CDATA[/opt/tauon-music-box/tauonmb.sh]]></command></action></item>
    <item label="VLC media player" icon="/home/ito/.cache/obmenu-generator/icons/e9e599493780d71a1d75d49b17f8b86d.png"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Volume Control" icon="/home/ito/.cache/obmenu-generator/icons/69444a851b20aad47731d8338679c90f.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="YouTube Music" icon="/home/ito/.cache/obmenu-generator/icons/960a4c53eb118a165ad3e16acd1e648a.png"><action name="Execute"><command><![CDATA[/home/ito/.local/share/applications/youtube-music.sh]]></command></action></item>
  </menu>
  <menu id="0,900808155987747" icon="/home/ito/.cache/obmenu-generator/icons/2d5f8357fd7be8b8c48b8006ec48af18.png" label="Internet">
    <item label="Chromium" icon="/home/ito/.cache/obmenu-generator/icons/59aab2d06a1b56237ba1ea48c7f3f93b.png"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="Discord" icon="/home/ito/.cache/obmenu-generator/icons/8e941b6269eb8958f98084fb2b8f4f86.png"><action name="Execute"><command><![CDATA[/usr/bin/perl -e 'chdir($ARGV[0]) && exec($ARGV[1])' \/usr\/bin \/usr\/bin\/discord]]></command></action></item>
    <item label="Firefox Web Browser" icon="/home/ito/.cache/obmenu-generator/icons/b87bcba007d469066cb3dee4d5486212.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="Mail Reader" icon="/home/ito/.cache/obmenu-generator/icons/5aeaf961de8c77f75ed5079b8fcf9d00.png"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Nicotine+" icon="/home/ito/.cache/obmenu-generator/icons/9316444fc29ee69593d63d4da6e91ddb.png"><action name="Execute"><command><![CDATA[nicotine]]></command></action></item>
    <item label="qBittorrent" icon="/home/ito/.cache/obmenu-generator/icons/81b282d66de97cee73d4c8d0fb5d7a29.png"><action name="Execute"><command><![CDATA[qbittorrent]]></command></action></item>
    <item label="Telegram Desktop" icon="/home/ito/.cache/obmenu-generator/icons/67dadc91134a93f811f996e339292012.png"><action name="Execute"><command><![CDATA[/home/ito/.local/share/applications/telegram.sh]]></command></action></item>
    <item label="Tor Browser Launcher Settings" icon="/home/ito/.cache/obmenu-generator/icons/3a33eac27b233e95d3e16a623f765821.png"><action name="Execute"><command><![CDATA[torbrowser-launcher --settings]]></command></action></item>
    <item label="Tor Browser" icon="/home/ito/.cache/obmenu-generator/icons/3a33eac27b233e95d3e16a623f765821.png"><action name="Execute"><command><![CDATA[torbrowser-launcher]]></command></action></item>
    <item label="Web Apps" icon="/home/ito/.cache/obmenu-generator/icons/83bb6b6afd1020d573bbe12b736457c5.png"><action name="Execute"><command><![CDATA[webapp-manager]]></command></action></item>
    <item label="Web Browser" icon="/home/ito/.cache/obmenu-generator/icons/2d5f8357fd7be8b8c48b8006ec48af18.png"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
  </menu>
  <menu id="0,880983099245295" icon="/home/ito/.cache/obmenu-generator/icons/90734395a153bd408bf766a39679fcae.png" label="Escritório">
    <item label="LibreOffice Base" icon="/home/ito/.cache/obmenu-generator/icons/d60bc4c7f96eb9b20c610a4feaf0c02e.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc" icon="/home/ito/.cache/obmenu-generator/icons/6c80014c985d675830f9beb33b06229d.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/ito/.cache/obmenu-generator/icons/b7353349f9800e0ca3fff257764dedf7.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress" icon="/home/ito/.cache/obmenu-generator/icons/ae7bdb0ae09b89a3cd5b88506ca9ca1c.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math" icon="/home/ito/.cache/obmenu-generator/icons/68896a2aab6b7791a1d26d921957744b.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer" icon="/home/ito/.cache/obmenu-generator/icons/3045a9a9da9e3ccae2db40e77bab7ca8.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice --writer]]></command></action></item>
    <item label="LibreOffice" icon="/home/ito/.cache/obmenu-generator/icons/1195aba6f59404d03ab55b6ce7c16361.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Arc libreoffice]]></command></action></item>
    <item label="Okular" icon="/home/ito/.cache/obmenu-generator/icons/92a68c4636fe2f67070ef1dc43cc2ad0.png"><action name="Execute"><command><![CDATA[okular]]></command></action></item>
    <item label="PDF Arranger" icon="/home/ito/.cache/obmenu-generator/icons/d57862ef725ade13ea7e1984560f9c08.png"><action name="Execute"><command><![CDATA[pdfarranger]]></command></action></item>
    <item label="Zotero" icon="/home/ito/.cache/obmenu-generator/icons/04fe5ba815310b49334a6549c7b21fc3.png"><action name="Execute"><command><![CDATA[env GTK_THEME=Material-light-compact /usr/bin/zotero -url]]></command></action></item>
  </menu>
  <menu id="0,970992794534219" icon="/home/ito/.cache/obmenu-generator/icons/1d46bef8d8b6403d35440a5c2b8c8002.png" label="Other">
    <item label="WhatsApp Web" icon="/home/ito/.cache/obmenu-generator/icons/445794bf9eb0242e5f84e21347591809.png"><action name="Execute"><command><![CDATA[chromium --app="http://web.whatsapp.com" --class=WebApp-WhatsAppWeb5254 --name=WebApp-WhatsAppWeb5254 --user-data-dir=/home/ito/.local/share/ice/profiles/WhatsAppWeb5254 --profile-directory=Default]]></command></action></item>
  </menu>
  <menu id="0,279647723297249" icon="/home/ito/.cache/obmenu-generator/icons/925078720f0ad6b6b04fc2dfca36a5b2.png" label="Configurações">
    <item label="Accessibility" icon="/home/ito/.cache/obmenu-generator/icons/4971fd7882311931fa09d0d7a8856827.png"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Advanced Network Configuration" icon="/home/ito/.cache/obmenu-generator/icons/1be588c8d58263b210606a8bc5a67831.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Appearance" icon="/home/ito/.cache/obmenu-generator/icons/763ef39ffc80a97b0e9ab8713edc500b.png"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="Bluetooth Adapters" icon="/home/ito/.cache/obmenu-generator/icons/b3c188eda02c2e954692e6f42d0c3394.png"><action name="Execute"><command><![CDATA[blueman-adapters]]></command></action></item>
    <item label="Bluetooth Manager" icon="/home/ito/.cache/obmenu-generator/icons/c6630c7c0f7dc73d0a62b66e9a0230d0.png"><action name="Execute"><command><![CDATA[blueman-manager]]></command></action></item>
    <item label="Color Profiles" icon="/home/ito/.cache/obmenu-generator/icons/61f9ea091a43f439e676777e8d787f5a.png"><action name="Execute"><command><![CDATA[xfce4-color-settings]]></command></action></item>
    <item label="Customize Look and Feel" icon="/home/ito/.cache/obmenu-generator/icons/763ef39ffc80a97b0e9ab8713edc500b.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Default Applications" icon="/home/ito/.cache/obmenu-generator/icons/3a9e33c81ff076dfd1b7b06e3925305f.png"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Display" icon="/home/ito/.cache/obmenu-generator/icons/899b328154d97564b58e3530c8fbf771.png"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="Grub Customizer" icon="/home/ito/.cache/obmenu-generator/icons/afe7d62e5eee63f8ab77dc54f60fda8a.png"><action name="Execute"><command><![CDATA[grub-customizer]]></command></action></item>
    <item label="Keyboard" icon="/home/ito/.cache/obmenu-generator/icons/a4e5205467b6f5a5a1c2d3acb656a10b.png"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="Kvantum Manager" icon="/home/ito/.cache/obmenu-generator/icons/0bf2f4829835e209a17b259f945ce917.png"><action name="Execute"><command><![CDATA[kvantummanager]]></command></action></item>
    <item label="Mouse and Touchpad" icon="/home/ito/.cache/obmenu-generator/icons/4b0502c2f7ed5d6f665b5360a0b09ca6.png"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="Notifications" icon="/home/ito/.cache/obmenu-generator/icons/eeb089ba62191336f0f0788d2fbe3e9d.png"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/ito/.cache/obmenu-generator/icons/0476ece428f10447c407d0cc404807fd.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Panel" icon="/home/ito/.cache/obmenu-generator/icons/0cdc45a60be3f102129d76352b22c2d2.png"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager" icon="/home/ito/.cache/obmenu-generator/icons/d496cbdea74d285d6940cac309f60fcd.png"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Print Settings" icon="/home/ito/.cache/obmenu-generator/icons/81e06810799626570098e48f53068c9d.png"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
    <item label="Qt6 Settings" icon="/home/ito/.cache/obmenu-generator/icons/763ef39ffc80a97b0e9ab8713edc500b.png"><action name="Execute"><command><![CDATA[qt6ct]]></command></action></item>
    <item label="Settings Editor" icon="/home/ito/.cache/obmenu-generator/icons/039e39d809cd4b56bf344d3d87f562db.png"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager" icon="/home/ito/.cache/obmenu-generator/icons/925078720f0ad6b6b04fc2dfca36a5b2.png"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Volume Control" icon="/home/ito/.cache/obmenu-generator/icons/69444a851b20aad47731d8338679c90f.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
  </menu>
  <menu id="0,547923819220841" icon="/home/ito/.cache/obmenu-generator/icons/c3700710efee28e72021fdc15ddd4ed4.png" label="Sistema">
    <item label="Android File Transfer (MTP)" icon="/home/ito/.cache/obmenu-generator/icons/c42f01a2bf440b93e92fb3bcb6694c6c.png"><action name="Execute"><command><![CDATA[android-file-transfer]]></command></action></item>
    <item label="BleachBit" icon="/home/ito/.cache/obmenu-generator/icons/2116144afdedc575b86c3cfde727ea8b.png"><action name="Execute"><command><![CDATA[bleachbit]]></command></action></item>
    <item label="GParted" icon="/home/ito/.cache/obmenu-generator/icons/b709b887ada79a62e6a23e3d999d4611.png"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Grub Customizer" icon="/home/ito/.cache/obmenu-generator/icons/afe7d62e5eee63f8ab77dc54f60fda8a.png"><action name="Execute"><command><![CDATA[grub-customizer]]></command></action></item>
    <item label="Hardware Locality lstopo" icon="/home/ito/.cache/obmenu-generator/icons/5a114182fee14c5dfb9bff1c0cc44147.png"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="kitty" icon="/home/ito/.cache/obmenu-generator/icons/b5157165ca6dd405c92d4691e85b8c21.png"><action name="Execute"><command><![CDATA[kitty]]></command></action></item>
    <item label="Manage Printing" icon="/home/ito/.cache/obmenu-generator/icons/81e06810799626570098e48f53068c9d.png"><action name="Execute"><command><![CDATA[xdg-open http://localhost:631/]]></command></action></item>
    <item label="Print Settings" icon="/home/ito/.cache/obmenu-generator/icons/81e06810799626570098e48f53068c9d.png"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
    <item label="Task Manager" icon="/home/ito/.cache/obmenu-generator/icons/cf6ba7c0cdd33f2eeb93c53ca0a00326.png"><action name="Execute"><command><![CDATA[lxtask]]></command></action></item>
    <item label="Thunar File Manager" icon="/home/ito/.cache/obmenu-generator/icons/2dd89e059cfc79430318a45a8a89d54b.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="UXTerm" icon="/home/ito/.cache/obmenu-generator/icons/0063b090bb17da5a944277e0573ae2e3.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm" icon="/home/ito/.cache/obmenu-generator/icons/0063b090bb17da5a944277e0573ae2e3.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <menu id="0,48919178453961" icon="/home/ito/.cache/obmenu-generator/icons/18d0310fcf7c8bb965edf7c46583c560.png" label="Openbox">
  <menu id="0,15203468221214" icon="/home/ito/.cache/obmenu-generator/icons/d9523727fbc6c8208e07db49f2addf03.png" label="Obmenu Generator">
    <item label="Gerar static menu" icon="/home/ito/.cache/obmenu-generator/icons/d9523727fbc6c8208e07db49f2addf03.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Gerar static menu com ícones" icon="/home/ito/.cache/obmenu-generator/icons/d9523727fbc6c8208e07db49f2addf03.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Atualizar cache" icon="/home/ito/.cache/obmenu-generator/icons/df15f9e0bf5c903eac5a57e791bcff4d.png"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="0,0307308219207592" icon="/home/ito/.cache/obmenu-generator/icons/18d0310fcf7c8bb965edf7c46583c560.png" label="Configurações do Openbox">
    <item label="Openbox Autostart" icon="/home/ito/.cache/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[mousepad ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/ito/.cache/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[mousepad ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/ito/.cache/obmenu-generator/icons/a03ff664a373a1a68651467cd9fd0c39.png"><action name="Execute"><command><![CDATA[mousepad ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigurar Openbox" icon="/home/ito/.cache/obmenu-generator/icons/18d0310fcf7c8bb965edf7c46583c560.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Reiniciar" icon="/home/ito/.cache/obmenu-generator/icons/fd4449c3e7f8fbddb7f06ae85aad3d05.png"><action name="Execute"><command><![CDATA[systemctl reboot]]></command></action></item>
    <item label="Encerrar Sessão" icon="/home/ito/.cache/obmenu-generator/icons/db2d5740252853d84fc5e4b428b04c05.png"><action name="Exit"/></item>
    <item label="Desligar" icon="/home/ito/.cache/obmenu-generator/icons/8647e7efcb625d7301ca84a9b53e77db.png"><action name="Execute"><command><![CDATA[systemctl poweroff]]></command></action></item>
  </menu>
</openbox_menu>
