[Desktop Entry]
Type=Application
Exec=conky --config=/home/ito/.config/conky/conky.conf --pause=4
Hidden=false
X-GNOME-Autostart-enabled=true
Name=Conky
Comment=Monitor do sistema
